<div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
<div>
<%=link_to  'Home', root_path%>
|
<%=link_to  'Add Product', new_product_path%>
|
<%=link_to  'View All Products', products_path%>
|
<%=link_to  'View Votes', voted_votes_path%>
</div>
<div>
        <% if user_signed_in? %>
        Hello <%= current_user.full_name %> | 
        <%= link_to "Logout", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}
         %>
        <% else %>
        <%= link_to "Login", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %>
        <% end %>

        <% if user_signed_in? && current_user.is_admin? %>
         |
        <%= link_to 'Admin Panel', admin_index_path, class: 'nav-item' %>
       
         <% end %>
    
</div>
</div>