

<!-- <%#=  %> ðŸ‘ˆðŸ» To have an output we use this tag  -->
    <%= form_with model: @product, local: true do |f| %> 
 <span class="mt-4">
        <%= f.text_field(:search, class: 'form-control',  value:@search_word, :required => true, :oninvalid =>"this.setCustomValidity('Please enter a value')",
 :oninput =>"setCustomValidity('')")%>
 </span>
 <span>
        <% if @search_word%>
            <%= f.submit label_tag="Search", class:"btn-success"%>
        <%else%>
        <%= f.submit label_tag="Search", class:"btn-success"%>
        <%end%>
</span>
    <% end %>

    <h1>All Products</h1>
    <% if @search_word!="" && @count>0%>
        <p>Showing "<%= @count%>" results for "<%= @search_word%>"</p>
    <% elsif @search_word && @count<=0%>    
        <p>No result found for "<%= @search_word%>"</p>
    <%end%>

<%if @products && @search_word%>
    <% @products.each do |product|%>
    <div class="card mt-4">
    <div class="card-body">
    <h2><%= link_to(product.title, product_path(product.id) )%></h2>
    <p> <%= product.description %></p>
    </div>
    </div>
    <% end %>
<%end%>
