<div class="card mt-4">
<div class="card-body">
<h3 ><%= @product.title%></h3>
<p><%= @product.description %></p>
<p>Price: $<%= @product.price %></p>
<p>Created by $<%= @product.user&.full_name || "DELETED" %></p>
<small>
<% if can? :crud, @product%>
    <%= link_to("Edit", edit_product_path(@product.id))%>  |
<%end%>
<% if can? :crud, @product%>
    <%= link_to('Delete', product_path(@product.id), remote:false, method: :delete, data: { confirm: 'Are you sure?' } )%>
<%end%>
</small>
</div>
</div>


<h2 class="mt-4">Leave a Review</h2>
<div class='shadow-sm p-3 mb-5 bg-white round'>
    <%= form_with model: [@product, @review], local: true do |f| %>
        <% if @review.errors.full_messages.each do |msg|%>  
            <p class="text-danger">
                <%= msg %>     
            </p>
        <% end %>
    <% end %>
        <div class='form-group col-2'>
            <%= f.label :rating %>
            <%= f.number_field(:rating, class: 'form-control' )%>
        </div>
        <div class='form-group'>
            <%= f.text_area(:body, class: 'form-control', placeholder: 'Your thoughts here' )%>
        </div>
        <%= f.submit class: 'btn btn-primary'%>
        <% end %>
</div>



<%# to show the ratings  %>
<h3>Reviews</h3>
<% @reviews.each do |review|%>
<% if review.hide == false || (can? :crud, @product)%>
    <% if review.hide == false%>
        <div class="card">
        <p class="card-body">
        <%= review.body %>
        <p class="ml-4"> Rating:</p>
        <h4 class="ml-4">
    <% else review.hide == true%>
        <div class="card text-muted">
        <p class="card-body">
        <%= review.body %>
        <p class="ml-4"> Rating:</p>
        <h4 class="ml-4">
    <%end%>
    <%= display_stars(review) %></h4>
    <% if can? :crud, @product %>
        <small>
        <%if review.hide == false%>
            <%= form_with model: [@product, review], :class=>"form-group ml-4", local: true do |form| %>
            <%= form.submit label_tag="Hide Review"%>
            <%end%>
            </small>
            <%end%>
        <%if review.hide == true%>
            <%= form_with model: [@product, review], :class=>"form-group ml-4", local: true do |form| %>
            <%= form.submit label_tag="UnHide Review"%>
            <%end%>
        </small>
    <%end%>
<%end%>

<div class=ml-4>
    Reviewed by:
    <%= review.user&.full_name || "DELETED" %>
</div>
<% if can? :crud, review %>
<p class="ml-4"><%= link_to "Delete",product_review_path(@product,review), method: :delete,data: {confirm: "Are you sure?"} %>
</p>
<%end%>

</p>

</p>
</div>

<br/>
<% end %> 
<%end%>